4_myGPT_train/nanoGPT/out-custom-long/
4_myGPT_train/nanoGPT/out-custom-small/
4_myGPT_train/nanoGPT/out-shakespeare-char/

4_myGPT_train/nanoGPT/data/custom_corpus/*.bin
4_myGPT_train/nanoGPT/data/shakespeare_char/*.bin

__pycache__/
*.pyc

venv/
.venv/
env/
myenv/
.conda/

build/
dist/
*.egg-info/
*.dist-info/

.vscode/
.idea/
*.swp # Vim swap files
*.swo # Vim swap files

.DS_Store # macOS
Thumbs.db # Windows

.env
.flaskenv
